@model IEnumerable<Instaeventos.Core.InstagramPhoto>
<div class="jumbotron">
    @using (Html.BeginForm())
    {
        <input type="submit" />
        foreach (var item in Model)
        {
            <p><img src=@item.ImageUrl />@item.PublishDate <input type="checkbox" name="selectedItems" value="@item.Id" /></p>
        }
    }
</div>
